/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  Copyright (C) 2016 Pedro Henrique Lara Campos
 */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  Copyright (C) 2016 Pedro Henrique Lara Campos
 */
@import 'https://fonts.googleapis.com/css?family=Cormorant+Garamond|UnifrakturMaguntia';
.no-padding-left, .no-padding-sides {
  padding-left: 0 !important; }

.no-padding-right, .no-padding-sides {
  padding-right: 0 !important; }

.no-margin-sides {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.no-margins {
  margin: 0 !important; }

.no-float {
  float: none !important; }

.no-deco, .no-deco:hover {
  text-decoration: none; }

.fill-w {
  width: 100%;
  display: block; }

.fill-h {
  height: 100%;
  display: block; }

.fill-parent {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block; }

.flexbox-v {
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
   -ms-flex-direction: column;
       flex-direction: column; }

.flexbox-h, .flexbox .align-heights {
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
   -ms-flex-direction: row;
       flex-direction: row; }

.autoh {
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-box-align: center;
   -ms-flex-align: center;
       align-items: center; }

.fxcont-hlg-center {
  -moz-box-pack: center;
   -ms-flex-pack: center;
       justify-content: center; }

.fxcont-hlg-left {
  -moz-box-pack: start;
   -ms-flex-pack: start;
       justify-content: flex-start; }

.fxcont-hlg-right {
  -moz-box-pack: end;
   -ms-flex-pack: end;
       justify-content: flex-end; }

.fxcont-vlg-top {
  -moz-box-align: start;
   -ms-flex-align: start;
        -ms-grid-row-align: start;
       align-items: start; }

.fxcont-vlg-middle {
  -moz-box-align: center;
   -ms-flex-align: center;
        -ms-grid-row-align: center;
       align-items: center; }

.fxcont-vlg-bottom {
  -moz-box-align: end;
   -ms-flex-align: end;
        -ms-grid-row-align: end;
       align-items: end; }

.fxcont-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.fxitem-vlg-top {
  -ms-flex-item-align: start;
      align-self: flex-start; }

.fxitem-vlg-middle {
  -ms-flex-item-align: center;
      align-self: center; }

.fxitem-vlg-bottom {
  -ms-flex-item-align: end;
      align-self: flex-end; }

.nonelastic {
  -moz-box-flex: 0 !important;
   -ms-flex: none !important;
       flex: none !important; }

.flexbox-h > .elastic, .flexbox-v > .elastic {
  -moz-box-flex: 1;
   -ms-flex: 1;
       flex: 1; }

.pseudo-list-inline > * {
  padding-right: 6px;
  padding-left: 6px; }

.tailed {
  overflow: hidden;
  width: 100%;
  display: block; }
  .tailed > .tail-target {
    display: block;
    position: relative; }
    .tailed > .tail-target:after {
      content: "";
      position: absolute;
      height: 1px;
      border-top: 1px solid;
      top: 50%;
      width: 100vw;
      margin-left: 15px; }

.flexbox-h > .spacer.elastic {
  min-width: 5px;
  max-width: 45px; }

.inh-color, .inh-color:hover, .inh-color:focus, a, a:hover, a:focus {
  color: inherit; }

*[onclick], *[href], a, button, .pointer {
  cursor: pointer; }

.block-center {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }

.inline-responsive {
  display: inline-block;
  max-width: 100%; }

.img-fullresponsive {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%; }

clear, .clear {
  clear: both; }

@media print {
  .hidden-print {
    display: none; } }

@media (min-width: 768px) {
  .large-autoh {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-align: center;
     -ms-flex-align: center;
         align-items: center; }
  .large-right {
    text-align: right !important; }
  .large-left {
    text-align: left !important; }
  .large-fill-h {
    height: 100% !important;
    display: block; }
  .large-pull-right {
    float: right !important; }
  .large-pull-left {
    float: left !important; }
  .large-flexbox-v {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column; }
    .large-flexbox-v > .elastic {
      -moz-box-flex: 1 !important;
       -ms-flex: 1 !important;
           flex: 1 !important; }
  .large-flexbox-h {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row; }
    .large-flexbox-h > .elastic {
      -moz-box-flex: 1 !important;
       -ms-flex: 1 !important;
           flex: 1 !important; }
      .large-flexbox-h > .elastic.spacer {
        min-width: 5px;
        max-width: 45px; }
  .large-align-heights {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row; }
  .large-no-padding-sides {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .large-float-l {
    float: left !important; }
  .large-float-r {
    float: right !important; } }

@media (max-width: 767px) {
  .small-center {
    text-align: center !important; }
  .small-no-padding-sides {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .small-fill-w {
    width: 100% !important;
    display: block; } }

.large-list-inline {
  padding-left: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .large-list-inline > li {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px; } }

@font-face {
  font-family: "KingthingsTrypewriter2";
  src: url("../fonts/KingthingsTrypewriter2.eot");
  src: url("../fonts/KingthingsTrypewriter2.eot?#iefix") format("embedded-opentype"), url("../fonts/KingthingsTrypewriter2.ttf") format("truetype"), url("../fonts/KingthingsTrypewriter2.woff") format("woff"), url("../fonts/KingthingsTrypewriter2.woff2") format("woff2");
  font-weight: "normal";
  font-style: "normal"; }

@font-face {
  font-family: "VeneerExtras";
  src: url("../fonts/VeneerExtras.eot");
  src: url("../fonts/VeneerExtras.eot?#iefix") format("embedded-opentype"), url("../fonts/VeneerExtras.ttf") format("truetype"), url("../fonts/VeneerExtras.woff") format("woff"), url("../fonts/VeneerExtras.woff2") format("woff2");
  font-weight: "normal";
  font-style: "normal"; }

body {
  -webkit-font-smoothing: antialiased; }

.separate {
  position: relative;
  overflow: hidden; }

pseudobody {
  overflow: hidden;
  width: 100%;
  max-width: 100vw; }

.with-curbs {
  padding: 0 15px; }

html, body {
  height: 100%; }

pseudobody {
  min-height: 100%;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
   -ms-flex-direction: column;
       flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative; }

header, footer {
  -moz-box-flex: 0;
   -ms-flex: none;
       flex: none; }

main {
  -moz-box-flex: 1;
   -ms-flex: 1 0 auto;
       flex: 1 0 auto;
  width: 100%; }

body {
  color: lightgray;
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 17px;
  background: black url("../images/kimc_playbg.jpg") 25% 50%; }

body[pgname="welcome"] {
  background: url("../images/kimc_homebg.jpg") no-repeat 100% 0; }

.title, .cool-title {
  font-family: 'KingthingsTrypewriter2', serif; }

.alert, .btn {
  font-family: 'Cormorant Garamond', serif;
  font-size: 14px; }

.form-control, .btn {
  border-radius: 0; }

.veico {
  font-family: VeneerExtras; }

.cool-title {
  color: darkred;
  font-size: 85px;
  text-shadow: 0px 0px 12px #820000; }
