/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  Copyright (C) 2016 Pedro Henrique Lara Campos
 */
#chat_log {
  height: 180px;
  overflow-y: scroll; }

#chat_in {
  display: block;
  width: 100%; }

.server_announce {
  color: lightgreen; }

.black_card {
  box-shadow: 0px 0px 20px 12px rgba(0, 0, 0, 0.75);
  background: rgba(0, 0, 0, 0.75);
  width: auto;
  display: inline-block; }
