<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<link rel="stylesheet" type="text/css" href="../common/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../common/bootstrap/dist/css/bootstrap-theme.min.css" />
<link rel="stylesheet" type="text/css" href="../assets/styles/kimc_main.min.css" />
<link href="../common/font-awesome/css/font-awesome.min.css" rel="stylesheet">