/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  Copyright (C) 2016 Pedro Henrique Lara Campos
 */

@function ps-letterspace-csspx ($val, $font-size) { //for 'px' only
	@return ($val * $font-size / 1000)
}

@function ps-letterspace-cssem ($val) { //for 'em' only
	@return ($val / 1000)
}

@mixin ps-font-size ($font-size, $ps-letter-spacing, $ps-char-width: 'inherit') {
	font-size: $font-size;
	@if $ps-char-width != 'inherit' {
		@include ps-char-width($ps-char-width);
	}
	@if unit($font-size) == em {
		letter-spacing: ps-letterspace-cssem($ps-letter-spacing);
	} @else {
		@if unit($font-size) != px {
			@warn "Assuming #{$font-size}, which is detected as '#{unit($font-size)}', to be in pixels";
		}
		letter-spacing: ps-letterspace-csspx($ps-letter-spacing, $font-size);
	}
}

@mixin resp-prop ($key, $full-val) {
		#{$key}: $full-val *1px;
		#{$key}: $full-val /19.2 *1vw;
}

$web-fonts: () !global;

@mixin add-font ($name, $weight:'normal', $category:sans-serif, $style:'normal') {	
	$web-fonts: map-merge($web-fonts, ($name: (
		weight: $weight,
		category: $category,
		style: $style
	))) !global;
	
	%font-#{$name} {
		font-family:$name, $category;
		font-weight: $weight;
		font-style: $style;
	}
}

@mixin generate-web-faces {
	@each $name, $font-props in $web-fonts {
		$weight: map-get($font-props, weight);
		$category: map-get($font-props, category);
		$style: map-get($font-props, style);
		
		$filepath: "../fonts/" + $name;
		@font-face {
			font-family: $name;
			src: url($filepath+'.eot');
			src: url($filepath+'.eot?#iefix') format('embedded-opentype'),
			url($filepath+'.ttf') format('truetype'),
			url($filepath+'.woff') format('woff'),
			url($filepath+'.woff2') format('woff2');
			font-weight: $weight;
			font-style: $style;
		}
	}

	body {
		-webkit-font-smoothing: antialiased;
	}
}

$site-icons: () !global;

@mixin add-icon ($name, $codepoint) {	
	$web-fonts: map-merge($web-fonts, ($name: (
		codepoint: $codepoint
	))) !global;
}

@mixin generate-site-icons ($font-name: 'siteicons') {
	@each $name, $ico-props in $web-fonts {
		$codepoint: map-get($ico-props, codepoint);
		
		$filepath: "../fonts/" + $name;
		.sico-#{$name}:before {
			content: $codepoint;
		}
	}

	[class^="sico-"]:before, [class*=" sico-"]:before {   
		font-family: $font-name;
		font-style: normal;
		font-size: inherit;
		margin-left: 0;
	}
}

@mixin throw-back($pre, $throw-back-h) {
	.#{$pre}throw-back-#{$throw-back-h} {
		position:relative;
		top:($throw-back-h * -1);
		margin-bottom:($throw-back-h * -1);
		&-guarantee {
			min-height:($throw-back-h);
			min-width:1px;
			clear:both;
			display:block;
		}
	}
}

@mixin colored-btn-3d ($color1, $color2, $color3, $text-color) {
	background-color:$color1;
	border-bottom-color:$color2;
	color:$text-color;
	&:hover {
		color:$text-color;
		background:$color2;
		border-bottom-color:$color3;
	}
}

@function str-replace($string, $search, $replace: '') {
	$index: str-index($string, $search);
	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}
	@return $string;
}

@function url-encode($string) {
	$map: (
		"%": "%25",
		"<": "%3C",
		">": "%3E",
		" ": "%20",
		"!": "%21",
		"*": "%2A",
		"'": "%27",
		'"': "%22",
		"(": "%28",
		")": "%29",
		";": "%3B",
		":": "%3A",
		"@": "%40",
		"&": "%26",
		"=": "%3D",
		"+": "%2B",
		"$": "%24",
		",": "%2C",
		"/": "%2F",
		"?": "%3F",
		"#": "%23",
		"[": "%5B",
		"]": "%5D"
	);
	$new: $string;
	@each $search, $replace in $map {
		$new: str-replace($new, $search, $replace);
	}
	@return $new;
}