$generic-transition-time: 0.3s;
$loading-transition-time: 0.5s;
$optmized-width: 1070px;

$large-min: 768px;
$maximun_z: 16777271;

$branco: #FFF;
$cinza: #AAA;
$cinza-claro: #ebebeb;
$cinza-escuro: #404040;
$preto: #000;

@import 'functions';

@include add-font('KingthingsTrypewriter2');
@include add-font('VeneerExtras');