@import 'globalvars';
@import 'utils';
@import 'utils_sizes';
//@import 'anim';

@include generate-web-faces;
//@include generate-site-icons;
@import 'https://fonts.googleapis.com/css?family=Cormorant+Garamond|UnifrakturMaguntia';

.separate {
	position:relative;
	overflow: hidden;
}

pseudobody {
	overflow:hidden;
	width:100%;
	max-width:100vw;
}

.with-curbs {
	padding:0 15px;
}