html, body {
	height: 100%;
}

pseudobody {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	position:relative;
}

header, footer {
	flex: none;
}

main {
	flex: 1 0 auto;
	width: 100%;
}