/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  Copyright (C) 2016 Pedro Henrique Lara Campos
 */

// UTILS
.no{
	&-padding{
		&-left {
			padding-left: 0 !important;
		}
		&-right {
			padding-right: 0 !important;
		}
		&-sides {
			@extend .no-padding-left;
			@extend .no-padding-right;
		}
	}
	&-margin-sides {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	&-margins {
		margin: 0 !important;
	}
	&-float {
		float: none !important;
	}
	&-deco {
		&, &:hover { text-decoration:none; }
	}
}

.fill {
	&-w {
		width:100%;
		display:block;
	}

	&-h {
		height:100%;
		display:block;
	}
	&-parent {
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		display:block;
	}
}

.flexbox {
	&-v {
		display: flex;
		flex-direction: column;
	}
	
	&-h, .align-heights {
		display: flex;
		flex-direction: row;
	}
}

.autoh {
	display: flex;
	align-items: center;
}

.fxcont {
	&-hlg{
		&-center { justify-content:center; }
		&-left { justify-content:flex-start; }
		&-right { justify-content:flex-end; }
	}

	&-vlg{
		&-top { align-items: start; }
		&-middle { align-items: center; }
		&-bottom { align-items: end; }
	}

	&-wrap{
		flex-wrap:wrap;
	}
}

.fxitem {
	&-vlg{
		&-top { align-self: flex-start; }
		&-middle { align-self: center; }
		&-bottom { align-self: flex-end; }
	}
}

.nonelastic {
	flex: none !important;
}

.flexbox-h, .flexbox-v {
	> .elastic {
		flex: 1;
	}
}

.pseudo-list-inline > * {
	padding-right: 6px;
	padding-left: 6px;
}


// Style
.tailed {
	overflow: hidden;
	width: 100%;
	display: block;

	> .tail-target {
		display: block;
		position: relative;
		
		&:after {
			content: "";
			position: absolute;
			height: 1px;
			border-top: 1px solid;
			top: 50%;
			width: 100vw;
			margin-left: 15px;
		}
	}
}

%stretchbg {
	//To be used in pseudo-elements
	//You might want add "position:relative" to pseudo-element parent...
	&-before {
		content:'';
		display:block;
		position:absolute;
		top:0; left:0;
		
		width:100vw;
		margin-left:-100vw;
		
		height:100%;
	}

	&-after {
		content:'';
		display:inline-block;
		position:absolute;
		top:0; left:100%;
		
		width:100vw;
		margin-left:0;
		
		height:100%;
	}
}

.flexbox-h > .spacer.elastic {
	min-width:5px;
	max-width:45px;
}

.inh-color, a {
	&, &:hover, &:focus {
		color:inherit;
	}
}

// Global adjusts
*[onclick], *[href], a, button, .pointer {
	cursor: pointer;
}

.block-center {
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;
}

.inline-responsive {
	display:inline-block;
	max-width:100%;
}

.img-fullresponsive {
	display: block;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

%brphone *[itemprop="tel"] {
	> ddi { display:none }
	> ddd {
		&:before { content:'(' }
		&:after { content:')' }
	}
}

%realtext {
	@media print {
    	a[href]:after { content: ' (' attr(href) ') '; }
	}
}

clear,.clear {
	clear:both;
}

@media print {
	.hidden-print {
		display: none;
	}
}