.large{ @media (min-width: $large-min) {
	&-autoh {
		display: flex;
		align-items: center;
	}
	&-right {
		text-align:right !important;
	}
	&-left {
		text-align:left !important;
	}
	&-fill-h {
		height:100% !important;
		display:block;
	}
	&-pull {
		&-right {
			float:right !important;
		}
		&-left {
			float:left !important;
		}
	}
	&-flexbox {
		&-v {
			display: flex;
			flex-direction: column;
			> .elastic {
				flex: 1 !important;
			}
		}
		&-h {
			display: flex;
			flex-direction: row;
			> .elastic {
				flex: 1 !important;
				&.spacer {
					min-width:5px;
					max-width:45px;
				}
			}
		}
	}
	&-align-heights {
		display: flex;
		flex-direction: row;
	}
	&-no-padding-sides {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	&-float {
		&-l { float:left !important;	}
		&-r { float:right !important;	}
	}
}}

.small { @media (max-width: ($large-min - 1px)) {
	&-center {
		text-align:center !important;
	}
	&-no-padding-sides {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	&-fill-w {
		width:100% !important;
		display:block;
	}
}}

.large-list-inline {
	padding-left:0;
	list-style:none;
	@media (min-width: $large-min) { > li {
		display: inline-block;
		padding-right: 5px;
		padding-left: 5px;
	} }
}