@import 'globalvars';

#chat {
	&_log {
		height:180px;
		overflow-y: scroll;
	}
	&_in {
		display: block;
		width: 100%
	}
}

.server_announce {
	color: lightgreen;
}

.black_card {
	box-shadow: 0px 0px 20px 12px rgba(0,0,0,0.75);
	background: rgba(0, 0, 0, 0.75);
	width: auto;
	display: inline-block;
}