@import 'global';

@import 'responsive_sticky_footer';

body {
	color: lightgray;
	font-family: 'UnifrakturMaguntia', cursive;
	font-size:17px;
	background:black url('../images/kimc_playbg.jpg') 25% 50%;
}

body[pgname="welcome"] {
	background: url('../images/kimc_homebg.jpg') no-repeat 100% 0;
}

.title {
	font-family: 'KingthingsTrypewriter2', serif;
}

.alert, .btn {
	font-family: 'Cormorant Garamond', serif;
	font-size:14px;
}

.form-control, .btn {
	border-radius: 0;
}

.veico {
	font-family: VeneerExtras;
}

.cool-title {
	@extend .title;
	color: darkred;
	font-size: 85px;
	text-shadow: 0px 0px 12px rgba(130, 0, 0, 1);
}